body{
    background-image: url(./Assets/TT_8.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color:white;
   
    background-attachment: fixed;
}
.nav-link{
    color: white;
    font-size: x-large;
    align-items: center;
    font-weight: 600; 
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #800c0c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
    
    
}

.container-lg-custom{
    margin-top: 20%;
    background-color: #fff;
    padding-bottom: 10%;
    
}
.col-md-6{
    padding-top: 10%;
}
.col-md-3{
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 0px;
    align-items: center;
}

h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}
/*.......................Animation for the moving text................................*/
.moving-text{
    animation: moveText 10s linear infinite;
    
    white-space: nowrap;
    top: 10;
    padding-top: 2px;
    
}

@keyframes moveText {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%); /* Adjust the distance the text should move */
    }
}
/*.........................................................................................*/

.navbar-toggler{
    border-color: #007bff
}

.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.footer{
    background-color: #00426c;
    color: #fff;
    text-align: center;
    padding: 20px
}

/* ............................styling body content...............................................*/
h2{
    color: #00426c;
    font-size: 39px;
    font-family: cairo, sans-serif;
    font-weight: 700;
    letter-spacing: 0.25px;
    text-transform: none;
    line-height: 44px;
}
h5{
    font-size: 17px;
    font-family: cairo sans-serif;
    color: #00426c;
    text-align: center; 
    font-weight: 600; 
    padding-top: 2%;
}

h6{
    font-size: 12px;
    font-family: cairo,sans-serif;
    color: #00426c;
    
}
.content{
    font-family: cairo, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #00426c;
    font-weight: 400;
    
}
/*...............Button..........................................*/
.btn{
    color: #ffffffff;
    font-size: 14px;
    font-family: montserrat, sans-serif;
    background: #00426c;
    padding: 0px 32px;
    font-size: 14px;
    line-height: 44px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    padding-left: 32px;
    padding-right: 32px;
}

  .txt{
    margin-left: 90px;
  }

  /*...................... Card.............................*/
  .card{
    padding-bottom: 1%;
  }
  .card-text{
    font-family: cairo, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #00426c;
    font-weight: 400;
  }
  .card-title{
    color: #00426c;
    font-size: 20px;
    font-family: cairo, sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
    text-transform: none;
    line-height: 44px;
  }
  .card-image{
    height: 300px;
  }
   

